* {
  box-sizing: border-box;
}

.borda {
  border: 1px solid green;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.item1 {
  width: 100%;
  height: 480px;
}

.item2 {
  width: 100%;
}